.menu-row {
  display: flex;
  align-items: center;
  padding: 8.4rem 0;
}

.menu-row-between {
  justify-content: space-between;
}

.menu-row-end {
  justify-content: flex-end;
}

.quiz-name-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 550px) {
  .menu-row {
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
}
