.title-row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.categories {
  padding: 3rem 0;
}

.drop-in-one {
  --delay: 0.5s;
}

.drop-in-two {
  --delay: 0.75s;
}
.drop-in-three {
  --delay: 1s;
}

.scale-four {
  --delay: 1.2s;
}
.scale-five {
  --delay: 1.5s;
}

.drop-in-1 {
  --delay: 2.75s;
}

.drop-in-2 {
  --delay: 2s;
}

.drop-in-3 {
  --delay: 1.5s;
}

.drop-in-4 {
  --delay: 1s;
}

.fade-in-2 {
  --delay: 2s;
}
