.app {
  max-width: 144rem;
  margin: 0 auto;
  border: 2px solid black;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100vw;
  padding: 0rem var(--mainPaddingX);
}

.app[data-theme="light"] {
  --primaryBg: var(--darkwhite);
  --secondaryBg: var(--white);
  --primaryColor: var(--mediumblue);
  --primaryBtnColor: var(--white);
  --primaryBtnBg: var(--violet);
  --backgroundImage: url("./assets/pattern-background-desktop-light.svg");
  background-image: url("./assets/pattern-background-desktop-light.svg");
}

.app[data-theme="dark"] {
  --primaryBg: var(--darkblue);
  --secondaryBg: var(--mediumblue);
  --primaryColor: var(--white);
  --primaryBtnColor: var(--white);
  --primaryBtnBg: var(--violet);
  --backgroundImage: url("./assets/pattern-background-desktop-dark.svg");
}

.app {
  background: var(--primaryBg);
  color: var(--primaryColor);
  transition: 0.5s ease;
  background-image: var(--backgroundImage);
  background-size: cover;
}

.parent-row {
  display: flex;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 3px solid red; */
}

.content-column {
  /* flex: 1; */
  height: 100%;
}

@media screen and (max-width: 950px) {
  .parent-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-column {
    width: 100%;
  }
}
