.app {
  max-width: 144rem;
  margin: 0 auto;
  border: 2px solid black;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100vw;
  padding: 0rem var(--mainPaddingX);
}

.app[data-theme="light"] {
  --primaryBg: var(--darkwhite);
  --secondaryBg: var(--white);
  --primaryColor: var(--mediumblue);
  --primaryBtnColor: var(--white);
  --primaryBtnBg: var(--violet);
  --backgroundImage: url("./assets/pattern-background-desktop-light.svg");
  background-image: url("./assets/pattern-background-desktop-light.svg");
}

.app[data-theme="dark"] {
  --primaryBg: var(--darkblue);
  --secondaryBg: var(--mediumblue);
  --primaryColor: var(--white);
  --primaryBtnColor: var(--white);
  --primaryBtnBg: var(--violet);
  --backgroundImage: url("./assets/pattern-background-desktop-dark.svg");
}

.app {
  background: var(--primaryBg);
  color: var(--primaryColor);
  transition: 0.5s ease;
  background-image: var(--backgroundImage);
  background-size: cover;
}

.parent-row {
  display: flex;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 3px solid red; */
}

.content-column {
  height: 100%;
}

/* Animations */

.drop-in {
  opacity: 0;
  transform: translateY(-10rem);
  animation: dropin 1s var(--delay) forwards;
}

@keyframes dropin {
  50% {
    opacity: 1;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.scale {
  transform: scale(0);
  transition: 1s ease;
  animation: scalegrow 1s var(--delay) forwards;
}

@keyframes scalegrow {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 2s var(--delay) forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.slide {
  transform: translateX(-100vw);
  animation: slidein 1s var(--delay) forwards;
  opacity: 0;
  --delay: 0s;
}

@keyframes slidein {
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 950px) {
  .parent-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
